label#thumbnail {
    margin-top: 20px;
    border: 1px dashed #ddd;
    background-size: cover;
    cursor: pointer;
    display: flex;
    height: 160px;

    display: flex;
    justify-content: center;
    align-items: center;
}

label#thumbnail input {
    display: none;
}

label#thumbnail.has-thumbnail {
    border: 0;
}

label#thumbnail.has-thumbnail img {
    display: none;
}

form h1 {
    text-align: center;
    margin: 1rem 0 2rem 0;
    font-weight: bold;
    background: #eee6e6;
    padding: .8rem;
}

form div {
    background: #eee7e7;
    background: white;
    border: solid 0.3rem #d39b9b;
    padding: 1.8rem 0 1rem 1rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

form div:hover {
    transition: 0.2s;
    border: solid 0.3rem #cc1717;
}

form div input {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    border: 0 !important;
    width: -webkit-fill-available;
    background: white;
    border-bottom: 1px solid #dbcccc !important;
}

form div input:hover {
    background: #eee8e8;
    border-bottom: 2px solid #ce9999 !important;
}
